
.simpleseo-warnings__warning {
	padding: 0.5em 0;
	font-size: 12px;
}

.simpleseo-warnings__warning span {
	display: inline-block;
	font-size: 18px;
	vertical-align: middle;
}

.simpleseo-warnings__warning--warning span {
	color: #dc3545;
}

.simpleseo-warnings__warning--notice span {
	color: #E9D104;
}

.simpleseo-warnings__warning--good span {
	color: #368b39;
}
