
.simpleseo-preview {
	max-width: 600px;
	padding: 15px;
	border: solid 1px #b3b3b3;
	border-radius: 4px;
	background: white;
	font-family: arial, sans-serif;
}

.simpleseo-preview__title {
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	color: #100aab;
	font-size: 18px;
	line-height: 1.2;
	cursor: pointer;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}

.simpleseo-preview__title:hover {
	text-decoration: underline;
}

.simpleseo-preview__url {
	display: block;
	overflow: hidden;
	height: 20px;
	color: #062;
	font-size: 14px;
	line-height: 18px;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
}

.simpleseo-preview__content {
	color: #545454;
	font-size: 13px;
	line-height: 1.4;
	word-wrap: break-word;
}
